*{
   margin: 0;
   padding: 0;
   font-family: Helvetica, sans-serif;

}

:root{
   --bs-purple: #6f42c1;
}


body{
   background-image: url(./img/InterrograntesBcakgoround-05.svg), linear-gradient(135deg, #682E90, #F18F23);
   background-size: cover;
   background-position: center;
   height: 100vh;
}

header{
   display: flex;
   width: 100%;
   justify-content: center;
   background: rgba(51, 51, 51, 0.2);
   margin-bottom:65px ;
}

main{
   display: block;
   align-items: center;
   grid-template-columns: 100%;
}

.v-mobile{
   width: 70%;
}


/* .saved-facts{
   width: 210px;
   height: 50px;
   background:#682E90;
   color: white;
   border-radius: 15px ;
   display: flex;
   align-items: center;
   margin: auto;
   justify-content:space-around;
   margin-bottom: 70px;
} */



.text-div{
   width: 210px;
   height: 6vh;
   align-items: center;
   background: #682E90;
   margin-left: 25%;
   color: white;
   letter-spacing: 2px;
   justify-content: space-around;
   border-radius: 15px;
}

.card{
   margin-bottom: 4px;
   box-shadow: 4px 1px 1px black
}


.random-facts{
   position: relative;
   background-color: white;
   width: 60%;
   border-radius: 15px;
   box-shadow: 10px 5px 5px black;
   height: 232px;
   color: rgb(0, 0, 0);
   margin: auto;   
   vertical-align: middle;

}

.random-facts p{
   padding: 7px;
   position: absolute;
   margin-top: 30%;
   text-align: center;
   width: 100%;
}

section{
   display: flex;
   align-items:start;
   justify-content: space-between;

}


.btn-next{
   background-color: #D4FF5A;
   width: 116px;
   height: 44px;
   margin-left: 85px;
   border-radius: 8px;
   margin-top: 40px;
   border: none;
   letter-spacing: 2px;
}

.btn-next:hover{
   font-size: 17px;
   box-shadow: 4px 4px 1px #F18F23;
}

.favorite{
   width: 28px;
   height: 28px;
   margin-top: 59px;
   margin-right: 82px;
   border: none;
   border-radius: 5px;
   background: #D4FF5A;
}


.favorite img:hover{
   width: 15px;
}





